@{
    ViewBag.Title = "Registreren";
}
<script>
  setInterval(function () {
    FB.logout();
  }, 500);
</script>
<div class="content">
  <div class="page-header">
    <h1>Welkom!</h1>
  </div>
  <p>Klik op volgende om jezelf te registeren.</p>
  @using(Html.BeginRouteForm("Signup", FormMethod.Get))
  {
    <button class="btn primary" type="submit">Volgende</button>
  }

</div>