<div id="fb-root"></div>
@* <div class="fb-login-button" data-show-faces="true" data-width="200" data-max-rows="1" perms="user_about_me"></div> *@
<script src="//connect.facebook.net/en_US/all.js"></script>
<script>
    FB.init({
      appId: '@Facebook.FacebookApplication.Current.AppId',
      //channelURL: '@Request.Url.Scheme://@Request.Url.Authority@Url.Content("~/fbchannel.ashx")', // Channel File
      channelURL: '@Request.Url.Scheme://a12.mycel.nl/fbchannel.ashx', // Channel File
      status: true, // check login status
      cookie: true, // enable cookies to allow the server to access the session
      oauth: true, // enable OAuth 2.0
      xfbml: true  // parse XFBML
    });
</script>