@{
  ViewBag.Title = "Home";
}
<div class="content">
  <div class="page-header">
    <h1>
      Home</h1>
  </div>
  <h3>Hier meer informatie.</h3>
  <p>
    Instantly the scene changed as by magic; the foremost vessel swung broadside toward
    us, and bringing her guns into play returned our fire, at the same time moving parallel
    to our front for a short distance and then turning back with the evident intention
    of completing a great circle which would bring her up to position once more opposite
    our firing line; the other vessels followed in her wake, each one opening upon us
    as she swung into position. Our own fire never diminished, and I doubt if twenty-five
    per cent of our shots went wild. It had never been given me to see such deadly accuracy
    of aim, and it seemed as though a little figure on one of the craft dropped at the
    explosion of each bullet, while the banners and upper works dissolved in spurts
    of flame as the irresistible projectiles of our warriors mowed through them.</p>
  <p>
    The fire from the vessels was most ineffectual, owing, as I afterward learned, to
    the unexpected suddenness of the first volley, which caught the ship's crews entirely
    unprepared and the sighting apparatus of the guns unprotected from the deadly aim
    of our warriors.</p>
  <p>
    It seems that each green warrior has certain objective points for his fire under
    relatively identical circumstances of warfare. For example, a proportion of them,
    always the best marksmen, direct their fire entirely upon the wireless finding and
    sighting apparatus of the big guns of an attacking naval force; another detail attends
    to the smaller guns in the same way; others pick off the gunners; still others the
    officers; while certain other quotas concentrate their attention upon the other
    members of the crew, upon the upper works, and upon the steering gear and propellers.</p>
</div>
